.container {
	max-width: 800px;
	margin: 0 auto;
}

h1 {
	text-align: center;
	margin-top: 20px;
}

.item {
	border: 1px solid lightgray;
	margin-bottom: 20px;
	padding: 20px;
}

.item-header {
	display: flex;
	justify-content: space-between;
	margin-bottom: 20px;
}

.details {
	margin-top: 20px;
}

.red-button {
	display: inline;
	background-color: red;
	color: white;
	padding: 5px 10px;
	border: none;
	border-radius: 50px;
	cursor: pointer;
}
